@using WPIntServiceController.Models;
@model GetInfoResponse
<table class="table">
    <thead>
        <tr>
            <th>Имя планировщика</th>
            <th>Срок сдачи</th>
            <th>Название задачи</th>
            <th>Дата взятия задачи</th>
            <th>Статус</th>
        </tr>
    </thead>
    <tbody>
        @{
            int id = 0;
        }
        @foreach (var task in Model.TasksInfos)
        {
            bool wasDisplayed = false;
            foreach (var taskInfo in task.TaskInfos)
            {
                id++;
                <tr>
                    @if (!wasDisplayed)
                    {
                        <td rowspan="@task.TaskInfos.Count">@task.Name</td>
                        <td rowspan="@task.TaskInfos.Count">@task.NearTaskScheduledTime</td>
                        wasDisplayed = true;
                    }
                    <td>@taskInfo.Name</td>
                    <td>@taskInfo.ScheduledTimeFormatted</td>
                    <td>@taskInfo.IsPaused</td>
                    <td>
                        @{
                            SchedulerInfo info = new SchedulerInfo();
                            info.TaskName = taskInfo.Name;
                            info.SchedulerName = task.Name;
                        }
                        @if (!taskInfo.IsPaused)
                        {

                            using (Ajax.BeginForm("Pause", "TaskList", new AjaxOptions { UpdateTargetId = "table" }))
                            {
                                @Html.Hidden("TaskName", taskInfo.Name);
                                @Html.Hidden("SchedulerName", task.Name);
                                <input type="submit" class="btn btn-primary btn-action" value="Приостановить">
                            }

                        }
                        else
                        {
                            using (Ajax.BeginForm("Resume", "TaskList", new AjaxOptions { UpdateTargetId = "table" }))
                            {
                                @Html.Hidden("TaskName", taskInfo.Name);
                                @Html.Hidden("SchedulerName", task.Name);
                                <input type="submit" class="btn btn-primary btn-action" value="Возобновить">
                            }
                        }
                    </td>
                </tr>

            }
        }
    </tbody>
</table>
